i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: rgba(0, 0, 0, 0.0);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.0vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.widgets-container {
  background: #1e1e2e;
  border-radius: 20px;
  height: 32px;
  opacity: 1;
  border: 1px solid rgb(255 255 255 / 15%);
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin: 0px 6px;
  /* margin-right: 20px; */
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 20px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.date-time-container {
  padding: 0px 6px;
}

.weather {
  padding-right: 6px;
}